/node_modules
/public/hot
/public/storage
/public/upload
/public/uploads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
mylog.todo
/storage/uploads
.idea
composer.lock
Mylogs.log
/storage/debug_ip_list_cs.json
storage/debug_ip_list_cs.json
bootstrap/cache/
todo.txt
storage/app/public/NewTheme/images/.DS_Store
storage/app/public/themeAdmin/.DS_Store
payazacheckout_integration.html

/DEVSENSE
.DS_Store